body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start; /* Змінено на flex-start */
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px; /* Додано margin-top */
  }
  
  .header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .task-item {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
  }
  
  .task-text {
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
    color: #333;
  }
  
  .task-text:hover {
    text-decoration: underline;
  }
  
  .task-actions {
    display: flex;
    align-items: center;
  }
  
  .button {
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Додано плавний перехід */
  }
  
  .button:hover {
    background-color: #0d8bf2;
  }
  
  .input-task {
    width: calc(100% - 24px); /* Змінено ширину поля вводу */
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Додано стилі для кнопок діалогу редагування та видалення */
  .edit-button,
  .delete-button {
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: #e68a00;
  }
  